body {                          
     background-color: #5084FF

}
    
img { 
    border-radius: 60%;
}

h1 { 
     font-family: 'Montserrat', sans-serif;text-align: center;font-weight: 500
      } 

table { 
    font-family: 'Montserrat', sans-serif;
    width: 60%; 
    border-collapse: separate;
    border-spacing: 0 10px;
    border: 2px;
    border-radius: 12px;
}  

th, td { 
    padding: 10px;
} 

th { 
    text-align: left;
    background-color: #FFBD94;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
} 

td { 
    background-color: #FFBD94;
    padding: 10px 20px;
 
} 

footer {  
    font-family: 'Montserrat', sans-serif;
    text-align: center; 
    padding: 15px; 
    margin-top: 40px; 
    border-radius: 15px 15px 0 0; 
    box-shadow: 0 -5px 15px;

}