body { 
      background-color: #24AD63;

} 

h1 { 
    text-align: center;
    font-family: "Bitcount Prop Double Ink", system-ui;
    font-size: 70px;
    font-weight: 500;
    font-style: normal;
} 

h2 { 
    text-align: center;
    font-family: "Zalando Sans", sans-serif;
    font-size: 23px;
    width: 50;
} 

a { 
    font-family: "Zalando Sans", sans-serif; 
    font-size: 20px;
}